header{
    height: 600px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.485); */
    background-image: url("https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fG1vdmllJTIwY29sbGFnZXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    /* background: black; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.669);


}
nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#div1{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    color: rgb(192, 3, 3);
    font-size: 40px;
    position: relative;
    bottom: 20px;
    left: 150px;
    text-shadow: 3px 3px 4px black;
    
}
#btn1{
    width: 80px;
    height: 30px;
    background-color:rgb(192, 3, 3);
    color: white;
    border-radius: 10px;
    position: relative;
    right: 200px;

}
select{
    background-color: black;
    border: 2px solid white;
    width: 90px;
    height: 30px;
    color: white;
}

#heading{
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    font-weight: bolder;
}
#p1{
    color: white;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 550px;
    font-weight: bold;
    

}
#p2{
    color: white;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 450px; 
}
#div2{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
    left: 500px;
}
input{
    height: 50px;
    width: 300px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.557);
    position: relative;
    right: 50px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
#btn2{
    height: 50px;
    width: 200px;

    color: white;
    font-size: 20px;
    font-weight: normal;
    background-color:rgb(192, 3, 3);
    position: relative;
    right: 100px;
}